body {
  font-style: Sans-serif, normal;
  margin: 5;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 80px 1fr 70px;
  grid-template-areas: 
    "sidebar header"
    "sidebar content"
    "sidebar footer";
  grid-gap: 5px;
  /* height: 100vh; */
  align-content: center;
}

.sidebar {
  background: #2b59bbfa;
  grid-area: sidebar;
  /* height: 100vh; */
}

.header {
  background: orangered;
  grid-area: header;
}

.content {
  background: orange;
  grid-area: content;
}

.title {
  color: white;
}

.footer {
  background: #961d1d;
  grid-area: footer;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
}

@media (max-width: 600px) {
  body {
    margin: 1;
  }
  .container {
    grid-template-columns: auto;
    grid-template-rows: 50px 50px 1fr 50px;
    grid-template-areas: 
      "header"
      "sidebar"
      "content"
      "footer";
  }
}